---
import Section from "./Section.astro";
---

<Section id="about">
  <p class="text-pretty">
    <strong>Me llamo Mathías Ezequiel Latrónico</strong>. Hace más de 5 años que
    empecé a interesarme en la programación y el desarrollo de software. Desde
    entonces estoy aprendiendo. Aunque parezca un largo tiempo, en realidad es
    poco comparado con la cantidad de cosas que hay por aprender. Por eso,
    siempre estoy buscando aprender cosas nuevas y mejorar mis habilidades.
  </p>
  <p class="text-pretty">
    <strong>Me apasiona la programación y el desarrollo de software</strong>, y
    me encanta aprender cosas nuevas. <strong
      >Tengo conocimientos en el uso de varios lenguajes de programación,
      frameworks, tecnologias y herramientas de desarrollo</strong
    >. Me puedo adaptar tanto a trabajar en el frontend como en el backend, y me
    gusta trabajar en equipo y colaborar con otros desarrolladores para crear
    soluciones innovadoras y de calidad.
  </p>
  <p class="text-pretty">
    <strong
      >Mi objetivo es convertime en un desarrollador de software de alto nivel.</strong
    >
    Aspiro a trabajar en una empresa que me permita seguir aprendiendo y creciendo
    como profesional, y que me brinde la oportunidad de trabajar en proyectos desafiantes
    y de calidad.
  </p>
  <p class="text-pretty">
    <strong
      >Actualmente, estoy buscando trabajo como desarrollador de software</strong
    >.
  </p>
</Section>
