---
import Section from "./Section.astro";
---

<Section id="contact">
  <p>
    Podés ponerte en contacto conmigo en <a
      href="mailto:mathiezelat@gmail.com"
      class="font-bold text-indigo-600 hover:text-indigo-500 transition-colors"
      >mathiezelat@gmail.com</a
    >.
  </p>
  <p>
    También podés encontrarme en <a
      href="https://linkedin.com/in/mathxlat"
      target="_blank"
      rel="noopener noreferrer"
      class="font-bold text-cyan-600 hover:text-cyan-500 transition-colors"
      >LinkedIn</a
    > o en <a
      href="https://github.com/mathxlat"
      target="_blank"
      rel="noopener noreferrer"
      class="font-bold text-emerald-600 hover:text-emerald-500 transition-colors"
      >GitHub</a
    >.
  </p>
</Section>
