---
import Section from "./Section.astro";
---

<Section id="education">
  <h3 class="font-bold">Universidad Tecnológica Nacional</h3>
  <p>Tecnicatura Universitaria en Sistemas Informáticos</p>
  <p>2023 - Actualidad</p>
</Section>
