<footer class="flex flex-col max-w-2xl m-auto px-4 py-8 gap-2">
  <p>Hecho por mathxlat<br />2024</p>
  <ul>
    <li>
      <a href="#about" class="hover:underline">/about</a>
    </li>
    <li>
      <a href="#education" class="hover:underline">/education</a>
    </li>
    <li>
      <a href="#projects" class="hover:underline">/projects</a>
    </li>
    <li>
      <a href="#contact" class="hover:underline">/contact</a>
    </li>
    <li>
      <a href="#skills" class="hover:underline">/skills</a>
    </li>
  </ul>
</footer>
