---
import NavButton from "./NavButton.astro";
---

<header
  class="flex flex-col md:flex-row gap-2 justify-between items-center py-4 mt-2 mb-6 w-full text-center max-w-2xl m-auto px-4"
>
  <h2>matthxlat<span> ⋆⁺₊✦₊⋆</span></h2>
  <nav>
    <ul class="flex flex-row gap-2">
      <li><NavButton href="#about">/about</NavButton></li>
      <li><NavButton href="#projects">/projects</NavButton></li>
      <li><NavButton href="#contact">/contact</NavButton></li>
    </ul>
  </nav>
</header>
