---
import Section from "../components/Section.astro";
---

<Section id="">
  <h1>
    <span
      class="font-black animate-move-bg bg-gradient-to-l from-indigo-500 via-purple-500 to-indigo-500 bg-[length:400%] bg-clip-text text-transparent"
      >Hola, soy Mathías!</span
    ><br />
    <strong>Desarrollador de software.</strong>
  </h1>
  <p>
    <strong
      >Estudiante de Tecnicatura Universitaria en Sistemas Informáticos en la
      Universidad Tecnológica Nacional de Buenos Aires, Argentina</strong
    >.
  </p>
</Section>
