---
import SectionTitle from "./SectionTitle.astro";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id} class="flex flex-col gap-y-2">
  {id ? <SectionTitle>/{id}</SectionTitle> : null}
  <slot />
</section>
