---
import Section from "./Section.astro";
---

<Section id="skills">
  <ul>
    <li>JavaScript, TypeScript, Java, Python, C++ y C</li>
    <li>React, Vue y Angular</li>
    <li>React Native con Expo</li>
    <li>HTML, CSS Y SCSS</li>
    <li>Node.js, Express y NestJS</li>
    <li>Git y GitHub</li>
    <li>GraphQL y REST</li>
    <li>MySQL, PostgreSQL, SQLite, MongoDB y Firebase</li>
  </ul>
</Section>
