---
import "@fontsource-variable/roboto-mono";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portfolio Mathías Ezequiel Latrónico, desarrollador de software y estudiante de Tecnicatura Universitaria En Sistemas Informáticos en la UTN"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="robots" content="index, follow" />
    <!-- TODO: completar los meta tags -->
    <meta property="og:title" content="Porfolio de desarrollador de software" />
    <meta
      property="og:description"
      content="Porfolio de un estudiante de Tecnicatura Universitaria En Sistemas Informáticos"
    />
    <meta property="og:image" content="/android-chrome-512x512.png" />
    <meta property="og:image:alt" content="Logo de portfolio de mathxlat" />
    <!-- TODO: completar el canonical -->
    <!-- <link rel="canonical" href="https://mathxlat.dev" /> -->

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="theme-color" content="#09f" />
    <title>{title}</title>
  </head>
  <body class="bg-black pb-32">
    <Header />
    <main class="flex flex-col max-w-2xl m-auto px-4 gap-4">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  html {
    font-family: "Roboto Mono Variable", monospace;
    color-scheme: dark light;
  }
</style>
